### Endeksi alfabenin ilk 10 harfi olan ve ilk 10 asal sayıyı ve ilk 10 fibonacci sayısını içeren bir veri çerçevesi oluşturun.

In [66]:
import pandas as pd 
import numpy as np
df=pd.DataFrame({"Asal":[2,3,5,7,11,13,17,19,23,29],
              "Fibonacci":[1,1,2,3,5,8,13,21,34,55]})
df.index = ["a","b","c","ç","d","e","f","g","h","ı"]
df

   Asal  Fibonacci
a     2          1
b     3          1
c     5          2
ç     7          3
d    11          5
e    13          8
f    17         13
g    19         21
h    23         34
ı    29         55

### Kaggle'dan Titanic: Machine Learning from Disaster isimli yarışmanın train.csv isimli dosyasını indirin ve Pandas veri çerçevelerini kullanarak tüm veriyi yükleyin. Veri çerçevelerinin .groupby() metodunu kullanarak yolcuların ortalama yaşlarını herbir cinsiyet için ayrı olacak şekilde hesaplayın.

In [17]:
import pandas as pd 
import numpy as np

df=pd.read_csv("train.csv")
df.groupby(by='Sex').mean()['Age']

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

### Koşullu seçim yöntemlerini de kullanarak, 30 yaşından küçük tüm yolcuların kurtulma oranını (survival ratio) hesaplayın. Daha sonra, kurtulma oranını cinsiyete göre ayrı ayrı hesaplayın.

In [57]:
import pandas as pd 
import numpy as np

df=pd.read_csv("train.csv")
a=df.loc[lambda df:df["Age"]<30, : ]
print("30 yaşından küçük yolcu sayısı:",len(a))
b=a[a["Survived"]== 1]
d=a[a["Survived"]== 0]
print("30 yaşından küçük kurtulan yolcu sayısı:",len(a[a["Survived"]==1]))
print("30 yaşından küçük tüm yolcuların kurtulma oranı:", 156/384)
print ('30 yaşından küçük kurtulan erkek sayısı:', len(b.groupby('Sex').groups['male']))
print ('30 yaşından küçük kurtulan kadın sayısı:', len(b.groupby('Sex').groups['female']))
print ('30 yaşından küçük kurtulamayan erkek sayısı:', len(d.groupby('Sex').groups['male']))
print ('30 yaşından küçük kurtulamayan kadın sayısı:', len(d.groupby('Sex').groups['female']))
print ('30 yaşından küçük kadınların kurtulma oranı:', 105/(105+42))
print ('30 yaşından küçük erkeklerin kurtulma oranı:', 51/(51+186))

30 yaşından küçük yolcu sayısı: 384
30 yaşından küçük kurtulan yolcu sayısı: 156
30 yaşından küçük tüm yolcuların kurtulma oranı: 0.40625
30 yaşından küçük kurtulan erkek sayısı: 51
30 yaşından küçük kurtulan kadın sayısı: 105
30 yaşından küçük kurtulamayan erkek sayısı: 186
30 yaşından küçük kurtulamayan kadın sayısı: 42
30 yaşından küçük kadınların kurtulma oranı: 0.7142857142857143
30 yaşından küçük erkeklerin kurtulma oranı: 0.21518987341772153